[misc]
processor_threads = 0

[regex]
regexes = [
    "GET\\s\\/.*?\\.png\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.jpg\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.js\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.css\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.gif\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.pdf\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.woff\\sHTTP\\/1\\.1",
    "GET\\s\\/.*?\\.mp3\\sHTTP\\/1\\.1",
    "GET\\s\\/favicon.ico\\sHTTP\\/1\\.1",
    "GET\\s\\/\\sHTTP\\/1\\.1"
]